<footer class="site-footer alloy-background--dark">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>{{site.tagline}}</h2>
        <p>Neem contact op met Sietske, Olga of Daphne van het Move your world projectteam via: <a href=”mailto:info@moveyourworld.nl”>info@moveyourworld.nl</a></p>
      </div>

      <div class="col-md-6">

        <form action="https://getsimpleform.com/messages?form_api_token=5ac8b5963b08a0d6b29713f6f799a5cf" method="post">
          <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
          <input type='hidden' name='redirect_to' value='<the complete return url e.g. http://fooey.com/thank-you.html>' />
            <!-- all your input fields here.... -->
            <label for="Naam">Naam</label>
            <input type='text' name='Naam' />

            <label for="Email">Email</label>
            <input type='email' name='email' />

            <label for="Bericht">Bericht</label>
            <textarea name="Bericht" rows="8" cols="80"></textarea>
            
            <input type='submit' value='Verstuur' />
          </form>
        </div>
      </div>
    </div>

  </footer>
