<!-- <footer class="site-footer alloy-background--dark" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Move your world is een initiatief van stichting Move. Ga voor meer informatie naar <a
            href="//www.moveyourworld.nl">www.moveyourworld.nl</a></h2>
      </div>
    </div>
  </div>

</footer> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
  // (function(jQuery) {
  // Scroll (#) hash links to element instead of jump
  jQuery(function () {
    jQuery('a[href*="#"]:not([href="#"])').click(function () {
      if (location.pathname.replace(/^\//, '') === this.pathname.replace(/^\//, '') && location.hostname === this.hostname) {
        var target = jQuery(this.hash);
        target = target.length ? target : jQuery('[name=' + this.hash.slice(1) + ']');
        if (target.length) {
          jQuery('html, body').animate({
            scrollTop: target.offset().top - 100
          }, 1000);
          window.location.hash = jQuery(this.href);

          return false;
        }
      }
    });
  });
// })(jQuery);
// END Scroll (#) hash links to element instead of jump
</script>