<header class="site-header" role="banner">
<div class="container-fluid alloy-no-gutter">
  <div class="row">
    <div class="col-md-8">
      <a class="site-title" href="{{ "/" | relative_url }}">
        <img src="{{ "/images/move_header.svg" | relative_url }}" alt="">
      </a>
    </div>
    <div class="col-md-4">
      <ul class="nav alloy-pull-right">
        <li><a href="#move-your-world-iets-voor-jouw-school">Iets voor jou?</a></li>
        <li><a href="#waarom-meedoen">Waarom?</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</div>

</header>
