body {
  margin: 0;
}
.alloy-background--one {
  background-color: $brand-one;
  h1, h2, h3, h4, h5, h6, p, span, strong, label {
    color: $brand-light;
  }
}
.alloy-background--dark {
  background-color: $brand-dark;
  h1, h2, h3, h4, h5, h6, p, span, strong, label {
    color: $brand-light;
  }
}
.alloy-background--pattern {
  background-color: $brand-dark;
  background-image: url(../images/pattern.svg);
  background-size: cover;
  background-position: center;

  background-repeat: no-repeat;
  // h1, h2, h3, h4, h5, h6, p, span, strong, label {
  //   color: $brand-light;
  // }
}
.container {
  padding-top: $base-margin*2;
  > .row {
    padding-bottom: $base-margin*2;
  }
}
@include media-breakpoint-up(md) {
  .container {
    padding-top: $base-margin*4;
    > .row {
      padding-bottom: $base-margin*4;
    }
  }
}
img {
  max-width: 100%;
  height: auto;
}
.alloy-move-logo {
  margin-bottom: $base-margin*3
}
.alloy-no-gutter {
  [class^="col"] {
    padding-left: 0;
    padding-right: 0;

  }
}
.alloy-radius {
  border-radius: $base-margin;

}
.inner {
  position: relative;
}
.alloy-absolute-quote {
  position: absolute;
  bottom: 40px;
  left: -25px;

  quote {
    max-width: 60%;
    display: block;
    background-color: $brand-one;
    padding: $base-margin;
    border-radius: $base-margin;
    color: $brand-light;
  }
}
.alloy-lesuur_blokken {
  margin-bottom: $base-margin*2;
  img {
    border-radius: $base-margin $base-margin 0 0;
    margin-bottom: -10px;
  }
  .blok-title {
    background-color: $brand-dark;
    color: $brand-light;
    text-transform: uppercase;
    text-align: center;
    padding: $base-margin;
  }
  .blok-content {
    background-color: $brand-light;
    color: $brand-dark !important;
    // text-transform: uppercase;
    // text-align: center;
    padding: $base-margin*2;
    border-radius: 0 0 $base-margin $base-margin;
  }
}
